@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,300,700,900);
body{
font-family: "PT Serif", sans-serif;
font-size: 26px;

}
h1{
  font-family: "PT Serif", sans-serif;
  font-weight: 700;
  color:#3F250B;
}
#para1{
font-family: "Raleway", sans-serif;
font-weight: 300;
color:#FA8072;
}

h2{
font-family:"PT Serif", sans-serif;
font-weight: 700;
color:#3F250B;

}
Li{
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color:#FA8072;

}
#testDiv1 {
  width: 33.3%;
  padding: 5px;
  margin: auto;
  box-sizing: border-box;
  float: left;

}
  #testDiv2{
    width: 33.3%;
    padding: 5px;
    margin: auto;
    box-sizing: border-box;
    float: left;

  }
  #testDiv3{
    #testDiv2{
      width: 33.3%;
      padding: 5px;
      margin: auto;
      box-sizing: border-box;
      float: left;
  }
